<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "it.troni.passapport"
        versionCode="10"
        version   = "1.1.0">

    <name>Map-google</name>

    <description>
        Raggiungi le tue mete
    </description>

    <author href="http://www.troni.it" email="giorgio@troni.it">
        Giorgio Troni
    </author>
 
    <gap:platform name="android" />

</widget>
